<div class="userinfo">
    <div class="avatar">
        <img src="http://placehold.it/300&text=Placeholder" class="img-responsive img-circle">
    </div>
    <div class="info">
        <span class="username">Adilson Pedro</span>
        <span class="useremail">adilson.pedro@blendit.com</span>
    </div>
</div>